---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const contentZh = await getEntry("spec", "activities");
const contentEn = await getEntry("spec", "activities-en");

if (!contentZh || !contentEn) {
	throw new Error("Activities page content not found");
}

const { Content: ContentZh } = await render(contentZh);
const { Content: ContentEn } = await render(contentEn);
---
<MainGridLayout title={i18n(I18nKey.activities)} titleI18nKey={I18nKey.activities} description={i18n(I18nKey.activities)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <div data-lang-panel="zh_CN">
                <Markdown class="mt-2">
                    <ContentZh />
                </Markdown>
            </div>
            <div data-lang-panel="en" class="hidden">
                <Markdown class="mt-2">
                    <ContentEn />
                </Markdown>
            </div>
        </div>
    </div>
</MainGridLayout>
